.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.header {
  background-color: #aaa;
  padding: 25px;
  margin-bottom: 25px;
}

.header h1 {
  margin: 0;
  color: white;
}

.search {
  padding-bottom: 50px;
  width: 300px;
  height: 65px;
  margin: auto;
  display: inline-block;
}

.searchInput {
  padding: 9px;
  background: #fcfcfc;
  border: 1px solid #aaa;
  border-radius: 5px;
  text-indent: 32px;
  width: 100%;
}

.searchIcon {
  position: absolute;
  padding: 10px 10px 10px 15px;
  color: #aaa;
}

.searchButtonDiv {
  display: inline-block;
}

.searchButton {
  color: white;
  background-color: #C69C72;
  border-radius: 5px;
  border: 0;
  padding: 10px;
  margin: 10px;
}

.searchButton:hover {
  background-color: #B48E68;
}

.searchButton:active {
  background-color: #A3805E;
}

.currentWeather {
  background-color: #C69C72;
  width: 250px;
  margin: auto;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.weatherContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.weatherCard {
  width: 250px;
  border: 1px solid black;
  margin: 50px;
}